@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717; /* Light mode foreground color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode background color */
    --foreground: #ededed; /* Light text color in dark mode */
  }
}

body {
  color: #000000; /* Always make text black */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(230, 230, 230);
  overflow-x: hidden;
}
